<div class="content">

    <div class="title">
        <h2>Rit Toevoegen</h2>
    </div>
    
    <mat-card>
    
        <div class="top-left">
            <mat-icon>arrow_back_ios</mat-icon>
            <i>Ritten Overzicht</i>
        </div>
    
        <form [formGroup]="tripAddForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-full-width">
                <input 
                matInput 
                id="licenseplate"
                formControlName="licenseplate"
                placeholder="Kenteken" 
                value="">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input 
                matInput
                id="startLocation"
                formControlName="startLocation"
                placeholder="Start locatie" 
                value="">
            </mat-form-field>
        
            <mat-form-field class="form-full-width">
                <input 
                matInput
                id="endLocation"
                formControlName="endLocation"
                placeholder="Eind locatie" 
                value="">
            </mat-form-field>
        
            <mat-form-field class="form-full-width">
                <input 
                matInput
                type="number" 
                id="drivenKm"
                formControlName="drivenKm"
                placeholder="Gereden KM" 
                value=""
                >
            </mat-form-field>
    
            <div class="button-row">
                <button 
                mat-flat-button 
                color="primary"
                [disabled]="!tripAddForm.valid">Toevoegen</button>
            </div>
        </form>

        <!-- <div class="map">
            <app-gmaps></app-gmaps>
            <app-gmaps-loc-search [gmap-search-index]="0" [gmap-input-placeholder]="'Voer uw startlocatie in'"></app-gmaps-loc-search>
            <app-gmaps-loc-search [gmap-search-index]="1" [gmap-input-placeholder]="'Voer uw tussenstop'"></app-gmaps-loc-search>
            <app-gmaps-loc-search [gmap-search-index]="2" [gmap-input-placeholder]="'Voer uw eindlocatie in'"></app-gmaps-loc-search>
        </div> -->
            
    </mat-card>
    
</div>