<div class="content">
    
    <mat-card>
    
        <div class='dataContainer'>
        <div class="top-left">
            <mat-icon>arrow_back_ios</mat-icon>
            <i>Ritten Overzicht</i>
        </div>
    
        <h2>Rit toevoegen</h2>

        <form [formGroup]="tripAddForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-full-width">
                <input 
                matInput 
                id="licenseplate"
                formControlName="licenseplate"
                placeholder="Kenteken" 
                value="">
            </mat-form-field>

            <app-gmaps-loc-search
            [gmap-search-index]="0" 
            [gmap-input-placeholder]="'Voer uw startlocatie in'">            
            </app-gmaps-loc-search>
            
            <app-gmaps-loc-search
            [gmap-search-index]="1" 
            [gmap-input-placeholder]="'Voer uw tussenstop'">
            </app-gmaps-loc-search>
        
            <mat-form-field class="form-full-width">
                <input 
                matInput
                type="number" 
                id="drivenKm"
                formControlName="drivenKm"
                placeholder="Gereden Kilometers"
                value="{{drivenKilometers}}">
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input 
                matInput
                type="number" 
                id="startKmGauge"
                formControlName="startKmGauge"
                placeholder="Start kilometerstand" 
                value="">
            </mat-form-field>

            <!-- <mat-form-field class="form-full-width">
                <input
            
                matInput
                type="text"
                id="endKmGauge"
                formControlName="endKmGauge"
                placeholder="Eind kilometerstand" 
                value="">
            </mat-form-field> -->

            <mat-form-field class="form-full-width">
                <input 
                matInput
                type="number" 
                id="projectID"
                formControlName="projectID"
                placeholder="project nummer" 
                value="">
            </mat-form-field>
    
            <div class="button-row">
                <button 
                mat-flat-button 
                color="primary"
                [disabled]="!tripAddForm.valid">Toevoegen</button>
            </div>
            <p *ngIf="formSubmitted">Rit is toegevoegd!</p>
        </form>
        </div>

        <div class="map">
            <app-gmaps></app-gmaps>
            
             <!-- <app-gmaps-loc-search [gmap-search-index]="2" [gmap-input-placeholder]="'Voer uw eindlocatie in'"></app-gmaps-loc-search> -->
        </div>
            
    </mat-card>
    {{estTravelTime}}

        
</div>