<!-- <mat-toolbar class="mat-toolbar-header" color="primary">
    <img src="assets/imgs/logo.png" alt="logo" class="img-responsive" style="max-height: 50px;">
    <span id="span-company-name">DigitaleFactuur</span>
</mat-toolbar> -->

<mat-toolbar class="mat-toolbar-header" color="primary">
    <mat-toolbar-row>
        <mat-toolbar id="overlay">
            <ul class="overlayed-dropdown-menu">
                <li class="overlayed-dropdown-menu-item">
                    <a class="overlayed-dropdown-menu-item" routerLink="/dashboard" (click)="onOverlay()">
                        <mat-icon class="nav-menu-icon">assessment</mat-icon>Dashboard
                    </a>
                </li>
                <li class="overlayed-dropdown-menu-item">
                    <a routerLink="/ritten/inzien" (click)="onOverlay()">
                        <mat-icon class="nav-menu-icon">gesture</mat-icon>Ritten
                    </a>
                </li>
                <li class="overlayed-dropdown-menu-item">
                    <a routerLink="/dashboard" (click)="onOverlay()">
                        <mat-icon class="nav-menu-icon">directions_car</mat-icon>Voertuigen
                    </a>
                </li>
                <li class="overlayed-dropdown-menu-item">
                    <a routerLink="/projecten/12" (click)="onOverlay()">
                        <mat-icon class="nav-menu-icon">table_chart</mat-icon>Projecten
                    </a>
                </li>
            </ul>
            <button class="logout-from-drop-down-menu-button" mat-icon-button aria-label="menu icon-button with a nav-menu">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </mat-toolbar>

        <button class="menu-icon-button" mat-icon-button (click)="onOverlay()" aria-label="menu icon-button with a nav-menu">
            <mat-icon class="mat-icon-menu">menu</mat-icon>
        </button>

        <img src="assets/imgs/logo.png" alt="logo" class="img-responsive img-company" style="max-height: 50px;">
        <span class="span-company-name">DigitaleFactuur</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="mat-toolbar-row-right">
        <button class="menu-icon-button" mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="arrow drop down menu user log out">
            <mat-icon class="mat-icon-menu">arrow_left</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
                <mat-icon>power_settings_new</mat-icon>
                <span>uitloggen</span>
            </button>
        </mat-menu>

        <mat-icon class="mat-icon-account-circle">account_circle</mat-icon>
        <span id="span-username">username</span>
    </mat-toolbar-row>
</mat-toolbar>

