.vehicle-overview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("/assets/imgs/homepageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vehicle-overview-page .overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #EBEDEE;
}

.vehicle-overview-page .deleteVehicleIcon {
  cursor: pointer;
}
.vehicle-overview-page .buttonContainer {
  /*border: 1px red solid;*/
  width: 750px;
  display: flex;
  justify-content: flex-end;
}
.vehicle-overview-page .plusButtonImage {
  position: relative;
  top: 25px;
  z-index: 2;
  left: 97%;
  cursor: pointer;
}
.vehicle-overview-page #mat-icon-add_circle {
  position: relative;
  top: 29px;
  left: 96.5%;
  font-size: 50px;
  cursor: pointer;
  color: #52AE4F;
}

.vehicle-overview-page .fa-trash {
  cursor: pointer;
}

.vehicle-overview-page .shadowcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vehicle-overview-page .optionLabel {
  position: relative;
  top: 4px;
  left: 82%;
}
.vehicle-overview-page .mat-button {
  position: relative;
  margin-top: -3%;
  left: 1%;
  top: 5px;
}
.vehicle-overview-page #more_horz {
  position: relative;
  margin-top: -3%;
  left: 3.5%;
  top: -1px;
}
.vehicle-overview-page .searchContainer {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  top: 50%;
}

/*.mat-table {*/
/*  overflow: auto;*/
/*  max-height: 500px;*/
/*}*/
.vehicle-overview-page .mat-table {
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  table-layout: fixed;
}

.vehicle-overview-page .mat-table tr.mat-row {
  height: auto;
}
.vehicle-overview-page .mat-table .mat-header-row {
  height: auto;
}
.vehicle-overview-page .mat-table .mat-column-select .mat-checkbox,
.vehicle-overview-page .mat-table .mat-cell .mat-checkbox {
  width: 16px;
  height: 16px;
  display: block;
  margin: auto;
}
.vehicle-overview-page .mat-table .mat-header-cell,
.vehicle-overview-page .mat-table .mat-cell {
  padding: 20px 0 20px 10px;
  width: 18%;
}
.vehicle-overview-page .mat-table mat-header-cell.mat-header-cell,
.vehicle-overview-page .mat-table mat-cell.mat-cell {
  display: table-cell;
  width: 10%;
}

.vehicle-overview-page .mat-row:hover {
  cursor: pointer;
  background-color: #DDDDDD;
}

@media screen and (max-width: 767px) {
  .vehicle-overview-page .mat-table {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .vehicle-overview-page .mat-table td,
  .vehicle-overview-page .mat-table th {
    font-size: 12px;
  }
  .vehicle-overview-page .mat-table th,
  .vehicle-overview-page .mat-table td {
    width: 25%;
    padding: 20px 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  .vehicle-overview-page .mat-table th:last-of-type,
  .vehicle-overview-page .mat-table td:last-of-type {
    display: none;
  }
  .vehicle-overview-page .mat-table th:nth-of-type(5),
  .vehicle-overview-page .mat-table td:nth-of-type(5) {
    display: none;
  }
  .vehicle-overview-page .mat-table th:nth-of-type(6),
  .vehicle-overview-page .mat-table td:nth-of-type(6) {
    display: none;
  }
  .vehicle-overview-page .mat-table th:nth-of-type(7),
  .vehicle-overview-page .mat-table td:nth-of-type(7) {
    display: none;
  }
  .vehicle-overview-page .mat-table .mat-header-cell,
  .vehicle-overview-page .mat-table .mat-cell {
    width: 25%;
    padding: 20px 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  .vehicle-overview-page .pagination-container .mat-paginator-range-actions {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .vehicle-overview-page .pagination-container .mat-paginator-range-actions .mat-paginator-range-label {
    margin: 0 10px 0 10px;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .vehicle-overview-page .pagination-container .mat-paginator-page-size {
    margin-right: 8px;
    align-items: center;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
