.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}
.mat-card {
  font-family: 'Lato', 'sans-serif', Roboto, "Helvetica Neue", sans-serif;
}

.top-left {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
}

.card-header {
  margin: 25px 0 15px 0;
  color: #34495E;
}

.containerHeader{
  display: flex;
  flex-direction: row;
}

.containerHeader button, .containerHeader mat-menu{
  margin-left:-10px;
  margin-top:15px;
}
.containerHeader button:hover{
  padding:0;
}

.card-header hr {
  border-color: black;
  margin: 0;
}

.trip-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 14pt;
  padding-bottom: 10px;
}

.trip-data:last-child {
  padding: 0;
}

.trip-data p:last-child {
  font-weight: bold;
  margin-left: 50px;
  text-align: end;
}

.map {
  border: 1px #1ABC9C solid;
  height: 350px;
  width: 275px;
  margin: 25px;
}

mat-card {
  margin: 50px;
  display: flex;
  flex-direction: row;
}
