<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Kenteken" value="kenteken">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Merk" value="merk">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Type" value="type">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Brandstof type">
      <mat-option value="benzine">Benzine</mat-option>
      <mat-option value="diesel">Diesel</mat-option>
      <mat-option value="elektrisch">Elektrisch</mat-option>
      <mat-option value="gas">Gas</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Carrosserie">
      <mat-option value="station">Station</mat-option>
      <mat-option value="sedan">Sedan</mat-option>
    </mat-select>
  </mat-form-field>

</form>