<div class="content">

  <div class="title">
    <h2>Voertuigen Toevoegen</h2>
  </div>

  <mat-card>

      <div class="top-left">
        <mat-icon>arrow_back_ios</mat-icon>
        <i>Voertuigen Overzicht</i>
      </div>

      <form [formGroup]="vehicleAddForm" (ngSubmit)="onSubmit()">
        <div>
        <mat-form-field class="form-full-width">
            <input
            matInput
            type="text"
            id="licenseplate"
            formControlName="licenseplate"
            placeholder="Kenteken"
            isLicensePlate
            value=""
            >

            <mat-error *ngIf="getForm.licenseplate.touched && getForm.licenseplate.errors?.required">
              Kenteken is verplicht!
            </mat-error>
            <mat-error *ngIf="getForm.licenseplate.touched && getForm.licenseplate.errors?.licensePlateError">
              Geen geldig kenteken!
            </mat-error>
            <mat-error *ngIf="getForm.licenseplate.touched && getForm.licenseplate.errors?.invalidRDW">
              Kenteken is niet bekend bij de RDW!
            </mat-error>
            <mat-error *ngIf="getForm.licenseplate.touched && getForm.licenseplate.errors?.licenseExists">
              Kenteken is al geregistreerd!
            </mat-error>

          </mat-form-field>

          <mat-form-field class="form-full-width">
            <input
            matInput
            placeholder="Merk"
            id="brand"
            formControlName="brand"
            value="{{brand}}"

            >
          </mat-form-field>

          <mat-form-field class="form-full-width">
            <input
            matInput
            placeholder="Type"
            formControlName="type"
            id="type"
            value="{{type}}"
            >
          </mat-form-field>

          <mat-form-field  class="form-full-width">
            <input
              matInput
              placeholder="Carrosserie"
              id="body"
              formControlName="body"
              value="{{body}}"
            >

          </mat-form-field>

          <div class="button-row">
            <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!vehicleAddForm.valid">Toevoegen</button>
          </div>
          <p *ngIf="formSubmitted">Voertuig is toegevoegd</p>
        </div>
      </form>

  </mat-card>

</div>
