.vehicle-add-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("/assets/imgs/homepageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vehicle-add-page .cardwrapper {
  padding: 25px 0;
}

.vehicle-add-page .mat-card{
  border-top-left-radius:0;
  border-top-right-radius:0;
}
.vehicle-add-page .title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  width: 532px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.vehicle-add-page .top-left {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
  cursor: pointer;
  width: fit-content;
}

.vehicle-add-page form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.vehicle-add-page .form-full-width {
    width: 100%;
  }

.vehicle-add-page .button-row button,
.vehicle-add-page .button-row a {
  margin-right: 8px;
}
.vehicle-add-page .image-container{
  width: 532px;
  height: 320px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  position:relative;
}

.vehicle-add-page .card-image{
  width:100%;
  height:100%;
}

.vehicle-add-page .text-container{
  position: absolute;
  z-index: 10;
  bottom: 40px;
  background: #34495e;
  width: auto;
  height: 33px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right:20px;
}

.vehicle-add-page .text-container span{
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  top: 7px;
  left: 5px;
}


.vehicle-add-page .animation-slide-left {
  -webkit-animation-name: slide-left;
  -o-animation-name: slide-left;
  animation-name: slide-left;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.vehicle-add-page .animation-fade-in {
  -webkit-animation-name: fade-in;
  -o-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

[class*=animation-] {
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

.vehicle-add-page .terugKnop {
  color: black;
  font-size: 20px;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .vehicle-add-page h2{
    font-size: 20px;
  }
  .vehicle-add-page .cardwrapper {
    width: 80vw;
  }
  .vehicle-add-page .title {
    width: 80vw;
  }
  .vehicle-add-page .image-container{
    width: 80vw;
  }
  .vehicle-add-page .terugKnop {
    color: black;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .vehicle-add-page .cardwrapper {
    width: 65vw;
  }
  .vehicle-add-page .title {
    width: 65vw;
  }
  .vehicle-add-page .image-container{
    width: 65vw;
  }
}

.vehicle-add-page .app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.vehicle-add-page .app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.vehicle-add-page .app-loading .spinner .path {
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #34495e;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
