.buttonContainer{
  /*border: 1px red solid;*/
  width: 750px;
  display: flex;
  justify-content: flex-end;
}
.plusButtonImage{
  position: relative;
  top: 25px;
  z-index: 2;
  left: 97%;
  cursor: pointer;
}
#mat-icon-add_circle {
  position: relative;
  top: 29px;
  left: 96.5%;
  font-size: 50px;
  cursor: pointer;
  color: #52AE4F;
}


.fa-trash{
  cursor: pointer;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.table-size{
  width:50vw;
  min-width: 400px;
}

.optionLabel{
  position: relative;
  top: 4px;
  left: 82%;
}

.mat-button{
  position: relative;
  margin-top: -3%;
  left: 85.5%;
  top: 5px;
}

#more_horz{
  position: relative;
  margin-top: -3%;
  left: 3.5%;
  top: -1px;
}

.searchContainer {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.mat-elevation-z8{
  position: absolute;
}


/*.mat-table {*/
/*  overflow: auto;*/
/*  max-height: 500px;*/
/*}*/

.mat-column-select {
  overflow: visible;
  padding-top: 23%;
}
