table{
  border-collapse: collapse;
  text-align: center;
  width: 750px;

}
table,th,td{
  border: 1px ridge #E9E9E9;
  color: black;

}
th,td{
  padding: 1em 1em 1em 1em ;

}

mat-card-title{
  font-size: 18px;
}

th{
  background: linear-gradient(#e6e6e6,#b3b3b3);
}

tr:nth-child(even) td { background: #FEFEFE; }
tr:nth-child(odd) td { background: #F1F1F1;}

mat-card-title{
  color: black;
}


mat-card-content{
  display: flex;
  justify-content: center;
  align-content: center;
}

.buttonContainer{
  /*border: 1px red solid;*/
  width: 750px;
  display: flex;
  justify-content: flex-end;
}
.plusButtonImage{
  position: relative;
 top: 25px;
  z-index: 2;
  left: 25px;
  cursor: pointer;



}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px red solid;*/
}

.card{
  background-color: white;
  width: 750px;
  z-index: 1;
}

.fa-trash{
  cursor: pointer;
}

.paginationHolder{
  display: flex;
  justify-content: center;
}
