.login-page {
  background-image: url("../../assets/imgs/homepageBackground.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.login-page img {
  position: relative;
  padding: 10px 0;
  transform: translateX(-25%);
}

.login-page mat-form-field {
  width: 80%;
}

.login-page mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  position: absolute;
  height: 300px;
}

.login-page .full-width-input {
  width: 80%;
}

.login-page .mat-stroked-button {
  float: left;
  left: 10%;
}

.login-page .mat-button {
  float: right;
  right: 10%;
}

.login-page span {
  text-align: center;
}

.login-page .centered-horizontal {
  left: 50%;
  transform: translateX(-50%);
}

.login-page .centered-hor-and-vert {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.login-page button {
  position: absolute;
  bottom: 10%;
  color: #34495e;
  text-decoration: none;
  transition-duration: 0.3s;
}

.login-page button:hover {
  background-color: #19BA9D;
  color: white;
  transition-duration: 0.3s;
}

.login-page a:-webkit-any-link {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

.login-page .login_button {
  left: 10%;
}

.login-page .register_button {
  right: 10%;
}

@media (max-width: 600px) {
  mat-card {
    width: 80%;
  }
}
