.project-overview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("/assets/imgs/homepageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.project-overview-page .overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #EBEDEE;
}

.project-overview-page .projectOverviewTable{
  width:50vw;
}
.project-overview-page .projectOverviewTable tr{
  cursor:pointer;
}

.project-overview-page .projectOverviewTable tr:hover {
  background-color: #DDDDDD;
}

.project-overview-page .projectOverviewTable tr:first-of-type:hover {
  background-color: #FFFFFF;
}

/* Probably the most controversial way to fix this but it works */
.project-overview-page .projectOverviewTable tr:nth-last-child(4):hover {
  background-color: #DDDDDD;
}

.project-overview-page .searchContainer {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.project-overview-page .footerContainer{
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.project-overview-page .footerContainer small{
  margin-top:10px;
  margin-right: 10px;
}

.project-overview-page .btn {
  background: #1ABC9C;
  border: none;
  border-radius: .3rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  height: 3.2rem;
  line-height: 1.6rem;
  outline: 0;
  padding: .7rem 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.project-overview-page .loading {
  color: transparent !important;
  min-height: 1.6rem;
  pointer-events: none;
  position: relative;
}
.project-overview-page .loading::after {
  -webkit-animation: loading 500ms infinite linear;
  animation: loading 500ms infinite linear;
  border: .2rem solid white;
  border-radius: .8rem;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1.2rem;
  left: 50%;
  margin-left: -.8rem;
  margin-top: -.8rem;
  position: absolute;
  top: 50%;
  width: 1.2rem;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.project-overview-page .deleteIcon {
  cursor: pointer;
}
.project-overview-page .buttonContainer {
  /*border: 1px red solid;*/
  width: 750px;
  display: flex;
  justify-content: flex-end;
}
.project-overview-page .plusButtonImage {
  position: relative;
  top: 25px;
  z-index: 2;
  left: 97%;
  cursor: pointer;
}
.project-overview-page #mat-icon-add_circle {
  position: relative;
  top: 29px;
  left: 96.5%;
  font-size: 50px;
  cursor: pointer;
  color: #52AE4F;
}
.project-overview-page .fa-trash {
  cursor: pointer;
}
.project-overview-page .shadowcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-overview-page .optionLabel {
  position: relative;
  top: 4px;
  left: 82%;
}
.project-overview-page .mat-button {
  position: relative;
  margin-top: -3%;
  left: 1%;
  top: 5px;
}
.project-overview-page #more_horz {
  position: relative;
  margin-top: -3%;
  left: 3.5%;
  top: -1px;
}
.project-overview-page .searchContainer {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  top: 50%;
}
.project-overview-page .mat-table {
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  table-layout: fixed;
}
.project-overview-page .mat-table tr.mat-row {
  height: auto;
}
.project-overview-page .mat-table .mat-header-row {
  height: auto;
}
.project-overview-page .mat-table .mat-column-select .mat-checkbox,
.project-overview-page .mat-table .mat-cell .mat-checkbox {
  width: 16px;
  height: 16px;
  display: block;
  margin: auto;
}
.project-overview-page .mat-table .mat-header-cell,
.project-overview-page .mat-table .mat-cell {
  padding: 20px 0 20px 10px;
  width: 18%;
}
.project-overview-page .mat-table mat-header-cell.mat-header-cell,
.project-overview-page .mat-table mat-cell.mat-cell {
  display: table-cell;
  width: 10%;
}
@media screen and (max-width: 767px) {
  .project-overview-page .mat-table {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .project-overview-page .mat-table td,
  .project-overview-page .mat-table th {
    font-size: 12px;
  }
  .project-overview-page .mat-table th,
  .project-overview-page .mat-table td {
    width: 25%;
    padding: 20px 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  .project-overview-page .mat-table th:last-of-type,
  .project-overview-page .mat-table td:last-of-type {
    display: none;
  }
  .project-overview-page .mat-table th:nth-of-type(5),
  .project-overview-page .mat-table td:nth-of-type(5) {
    display: none;
  }
  .project-overview-page .mat-table th:nth-of-type(6),
  .project-overview-page .mat-table td:nth-of-type(6) {
    display: none;
  }
  .project-overview-page .mat-table th:nth-of-type(7),
  .project-overview-page .mat-table td:nth-of-type(7) {
    display: none;
  }
  .project-overview-page .mat-table .mat-header-cell,
  .project-overview-page .mat-table .mat-cell {
    width: 25%;
    padding: 20px 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  .project-overview-page .pagination-container .mat-paginator-range-actions {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .project-overview-page .pagination-container .mat-paginator-range-actions .mat-paginator-range-label {
    margin: 0 10px 0 10px;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .project-overview-page .pagination-container .mat-paginator-page-size {
    margin-right: 8px;
    align-items: center;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
