.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("/assets/imgs/homepageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-color: #EBEDEE;
}

.table-size{
  width:50vw;
  min-width: 400px;
}

.shadowcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-button{
  position: relative;
  margin-top: -3%;
  left: 1%;
  top: 5px;
}

#more_horz{
  position: relative;
  margin-top: -3%;
  left: 3.5%;
  top: -1px;
}

.searchContainer {
  position: relative;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  top: 30px;

}

#mat-icon-edit {
  cursor: pointer;
}
