<div class="appContainer">
  <mat-toolbar color="primary" class="appHeader">
    <mat-icon class="menuButton" (click)="menu.toggle()">menu</mat-icon>
    <img src="assets/imgs/logo.png" class="logo" alt="logo digitale factuur" style="max-height: 50px;">
    Digitale Factuur
  </mat-toolbar>

  <mat-sidenav-container class="appContent">
    <mat-sidenav #menu mode="over" class="menu">

      <ul class="menuList">
        <li>
          <a routerLink="/dashboard" (click)="menu.close()">
            <mat-icon>assessment</mat-icon>Dashboard
          </a>
        </li>
        <li >
          <a routerLink="/ritten" (click)="menu.close()">
            <mat-icon class="nav-menu-icon">gesture</mat-icon>Ritten
          </a>
        </li>
        <li>
          <a routerLink="/dashboard" (click)="menu.close()">
            <mat-icon>directions_car</mat-icon>Voertuigen
          </a>
        </li>
        <li>
          <a routerLink="/projecten/12" (click)="menu.close()">
            <mat-icon>table_chart</mat-icon>Projecten
          </a>
        </li>
      </ul>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
