<div class="content">

  <mat-card>

    <div class='dataContainer'>
      <div class="top-left">
        <mat-icon>arrow_back_ios</mat-icon>
        <i>Ritten Overzicht</i>
      </div>

      <h2>Rit wijzigen</h2>

      <form [formGroup]="tripUpdateForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-select
            placeholder="Kenteken"
            id="licenseplate"
            formControlName="licenseplate">
            <mat-option (click) = "retrieveKmGauge($event);"
                        *ngFor="let licenseplate of licenseplates"
                        value="{{licenseplate}}">{{licenseplate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select
            placeholder="Project nummer"
            id="projectId"
            formControlName="projectID">
            <mat-option
              *ngFor="let project of projects"
              value="{{project}}">{{project}}</mat-option>
          </mat-select>
        </mat-form-field>

        <app-gmaps-loc-search
          [gmap-search-index]="0"
          [gmap-input-placeholder]="'Voer uw startlocatie in'">
        </app-gmaps-loc-search>

        <app-gmaps-loc-search
          [gmap-search-index]="1"
          [gmap-input-placeholder]="'Voer uw eindbestemming in'">
        </app-gmaps-loc-search>

        <mat-form-field>
          <input
            matInput
            type="number"
            id="startKmGauge"
            formControlName="startKmGauge"
            placeholder="Start kilometerstand"
            value="{{startKilometerGauge}}"
            (input)="customStartKilometers($event.target.value)">
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="number"
            id="endKmGauge"
            formControlName="endKmGauge"
            placeholder="Eind kilometerstand"
            value="{{endKilometerGauge}}"
            (input)="customEndKilometers($event.target.value)" >

        </mat-form-field>

        <mat-form-field >
          <input
            matInput
            type="number"
            id="drivenKm"
            formControlName="drivenKm"
            placeholder="Gereden Kilometers"
            value="{{drivenKilometers}}"
          >
        </mat-form-field>

        <div class="button-row">
          <button
            mat-flat-button
            color="primary"
            [disabled]="!tripUpdateForm.valid">Toevoegen</button>
        </div>
        <p *ngIf="formSubmitted">Rit is toegevoegd!</p>
      </form>
    </div>

    <div class="map">
      <app-gmaps></app-gmaps>
    </div>

  </mat-card>
  {{estTravelTime}}


</div>
