.trip-modify-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("/assets/imgs/homepageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.trip-modify-page mat-form-field, .trip-modify-page app-gmaps-loc-search {
  padding: 0 10px;
}

.trip-modify-page .top-left {
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: fit-content;
}

.trip-modify-page form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.trip-modify-page .button-row button {
  margin-right: 8px;
}

.trip-modify-page .map {
  border: 1px #1ABC9C solid;
  height: 350px;
  width: 275px;
  margin: 25px;
}

.trip-modify-page mat-card {
  margin: 50px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 480px) {
  .trip-modify-page mat-card{
    width: 80vw;
  }
  .trip-modify-page .map{
    visibility: hidden;
  }
  .trip-modify-page h2 {
    font-size: 20px;
  }
  .trip-modify-page i {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
  .trip-modify-page mat-card{
    width: 80vw;
  }
  .trip-modify-page .dataContainer{
    width: 40vw;
  }
  .trip-modify-page h2 {
    font-size: 20px;
  }
  .trip-modify-page i {
    font-size: 14px;
  }
}
