.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/imgs/homepageBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65%;
    flex-direction: column;
}

.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.totalContainer {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    top: 25px;
    margin: 25px;
    background-color: #34495e;;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.add-trip-container {
    display: flex;
    position: relative;
    flex: 1;
    height: 50%;
    top: 25px;
    margin: 25px;
    background-color: #34495e;;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.aantal-span {
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#mat-icon-add-circle {
    position: relative;
    top: 20px;
    left: 25px;
    font-size: 50px;
    cursor: pointer;
    color: #52AE4F;
}

/* phones and down */
@media (max-width: 480px) {
    body {
        overflow: auto;
    }

    .content-container {
        min-height: 100%;
    }

    .content-item {
        width: auto;
        height: auto;
        flex-direction: column;
        position: relative;
        top: -20vw;
    }

    .content-row {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        flex: 1;
        flex-direction: column;
        margin-top: 5vh;
    }

    .totalContainer {
        width: 85vw;
        height: 25vh;
        flex: none;
    }

    .aantal-span {
        font-size: 5vw;
    }

    .add-trip-container {
        flex: none;
        width: 85vw;
        height: 20vw;
        top: 0;
        margin: 0;
    }

    .trip-toevoegen-span {
        position: relative;
        top: 0;
    }

    #mat-icon-add-circle {
        position: relative;
        top: 7px;
        left: 3vw;
        font-size: 6vw;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Large desktop */
@media (min-width: 1200px) {}