<div class="flex-container content-container">
    <div class="flex-item content-item">
        <div class="row content-row">
            <div class="flex-container totalContainer">
                <span class="aantal-span">aantal trips {{ amountOfTripsByUser }}</span>
            </div>
            <div class="flex-container totalContainer">
                <span class="aantal-span">aantal projecten {{ amountOfProjectsByUser }}</span>
            </div>
        </div>

        <div class="row content-row">
            <div class="flex-container add-trip-container">
                <span class="aantal-span">trip toevoegen<mat-icon id="mat-icon-add-circle" routerLink="/ritten/inzien">add_circle</mat-icon></span>
            </div>
        </div>
    </div>
</div>

