<div class="flex-container content-container">
    <div class="flex-item content-item">
        <div class="row content-row">
            <div class="flex-container totalContainer">
                <span class="aantal-span">Aantal ritten: {{ amountOfTripsByUser }}</span>
            </div>
            <div class="flex-container totalContainer">
                <span class="aantal-span">Aantal projecten: {{ amountOfProjectsByUser }}</span>
            </div>
        </div>

        <div class="row content-row">
            <div class="flex-container add-trip-container">
                <span class="aantal-span trip-toevoegen-span">Rit toevoegen<mat-icon id="mat-icon-add-circle" routerLink="/ritten/toevoegen">add_circle</mat-icon></span>
            </div>
        </div>
    </div>
</div>

