.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 65%;
    flex-direction: column;
}

.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.totalContainer {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    top: 25px;
    margin: 25px;
    background-color: #34495e;;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.add-trip-container {
    display: flex;
    position: relative;
    flex: 1;
    height: 50%;
    top: 25px;
    margin: 25px;
    background-color: #34495e;;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.aantal-span {
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#mat-icon-add-circle {
    position: relative;
    top: 20px;
    left: 25px;
    font-size: 50px;
    cursor: pointer;
    color: #14BD9C;
}