<div class="dashboard">
    <div class="content-item">
        <div class="content-row">
            <div class="totalContainer card">
                <span class="aantal-span">Aantal ritten: {{ amountOfTripsByUser }}</span>
            </div>
            <div class="totalContainer card">
                <span class="aantal-span">Aantal projecten: {{ amountOfProjectsByUser }}</span>
            </div>
        </div>

        <div class="content-row">
            <div class="add-trip-container card a-d-c">
                <span class="aantal-span trip-toevoegen-span">Rit toevoegen</span>
              <mat-icon inline="true" id="mat-icon-add-circle" routerLink="/ritten/toevoegen">add_circle</mat-icon>
            </div>
        </div>
    </div>
</div>

