<div class="content">
  <mat-card>
    <div class="card-left-content">
      <div class="top-left">
        <mat-icon>arrow_back_ios</mat-icon>
        <i>Rittenoverzicht</i>
      </div>

      <div class="card-header">
        <h3>Rit #89: Amsterdam - Leiden</h3>
        <hr/>
      </div>

      <div class="trip-data-container">

        <div class="trip-data">
          <p>Project:</p>
          <p>Vb-Project 14</p>
        </div>

        <div class="trip-data">
          <p>Kenteken:</p>
          <p>QT-31-41</p>
        </div>

        <div class="trip-data">
          <p>Voertuig:</p>
          <p>Renault Twingo</p>
        </div>

        <div class="trip-data">
          <p>Gereden Kilometers:</p>
          <p>48,3 km</p>
        </div>

        <div class="trip-data">
          <p>Beginlocatie:</p>
          <p>P.C. Hooftstraat 31a, Amsterdam</p>
        </div>

        <div class="trip-data">
          <p>Eindlocatie:</p>
          <p>Schipholweg 4, Leiden</p>
        </div>
      </div>

    </div>
    <div class="card-right-content">
      <div class="map"></div>
    </div>
  </mat-card>
</div>
